---
layout: project
title: 
---

<div class="card border-info mb-3">
    <div class="card-header text-white bg-info">
        Project List
    </div>
    <div class="card-body">
        The projects listed below are game projects, tools, and demos that I have written. I have released partial code for some
        of my projects. If you want to see more examples of code, send me an email. If you want to see a paticular project,
        click on the links below to jump to the project.
    </div>
</div>
{% for group in site.data.projects %}
{% if forloop.last != true %}
    {% assign c = "mb-3" %}
{% else %}
    {% assign c = "" %}
{% endif %}
<div class="card {{ c }}">
    <div class="card-header">
        {{ group.name }}
    </div>
    <div class="card-body">
        {% for category in group.categories %}
        {% if forloop.first != true %}
            <hr />
        {% endif %}
        <h2>{{ category.name }}</h2>
        {% include projects-grid.html projects=category.projects %}
        {% endfor %}
    </div>
</div>
{% endfor %}