---
layout: page
title: Projects
permalink: /projects/
---

<div class="card border-info mb-3">
    <div class="card-header text-white bg-info">
        Project List
    </div>
    <div class="card-body">
        The projects listed below are game projects, tools, and demos that I have written. I have released partial code for some
        of my projects. If you want to see more examples of code, send me an email. If you want to see a paticular project,
        click on the links below to jump to the project.
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        GitHub Projects
    </div>
    <div class="card-body">
        <a href="/projects/github/bootstrap-modal">Bootstrap Modal</a> (Work in progress)
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        DigiPen
    </div>
    <div class="card-body">
        <h2>Games</h2>
        {% assign projects_per_line = 2 %}
        {% assign sorted_projects = (site.projects | sort: 'sort-order') %}
        {% assign total_rows = sorted_projects | size | divided_by: projects_per_line %}
        {% for i in (1..total_rows) %}
        <div class="row">
            {% for j in (1..projects_per_line) %}
            {% assign x = j | minus: 1 %}
            {% assign y = i | minus: 1 %}
            {% assign tmp = projects_per_line | times: y %}
            {% assign index = x | plus: tmp %}
            {% assign project = sorted_projects[index] %}
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="{% if project.card.asset-folder %}/img/projects/{{ project.card.asset-folder }}/tile.png{% else %}https://placehold.it/600x300{% endif %}" />
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ project.card.title }}
                        </h4>
                        <p class="card-text">{{ project.card.short-description }}</p>
                        <a href="{{ project.permalink }}" class="btn btn-info btn-block">View Project</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>