---
layout: project
---

<h2>Curve Editor</h2>

<p>
    This curve editor supports bezier, cubic splines, b-splines, and polynomial curves that you can edit and manipulate with
    numerous control points. This project is just a demo of how curves can be used and which are the better algorithms. All
    code for this project was written by me. You can view code samples below.
</p>

<h3>Screenshots</h3>
<div class="row">
    <div class="col-xs-4 col-md-4">
        {% include img-thumbnail.html path="/img/projects/curve-editor/curve1.png" %}
    </div>
    <div class="col-xs-4 col-md-4">
        {% include img-thumbnail.html path="/img/projects/curve-editor/curve2.png" %}
    </div>
    <div class="col-xs-4 col-md-4">
        {% include img-thumbnail.html path="/img/projects/curve-editor/curve3.png" %}
    </div>
</div>
<h3>Video</h3>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="960" height="720" src="//www.youtube.com/embed/jOjn8ApxtvU?rel=0" frameborder="0" allowfullscreen=""></iframe>
</div>