<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container text-light">
    <p class="text-center" style="margin: 20px 0;">pcameron.com</p>
    <div>
      <div>
        <h6>Contact:</h6>
        <ul class="contact-list">
          <li>
            {% include icon-email.html email=site.email %}
          </li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div>
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</nav>