---
layout: project
---

<h2>
    Dealer Hero (Wii)
</h2>
<p>
    Dealer Hero was created using the Wii SDK for one of my classes in the Summer of 2009. The point of this game was to use
    the Wii-mote motion control to flick the cards on the targets. This was my first game with console experience.
</p>
<h3>
    Screenshots
</h3>
<p>
</p>
<div class="row">
    <div class="col-xs-6 col-md-3">
        {% include img-thumbnail.html path="/img/projects/dealer-hero/wii1.png" %}
    </div>
    <div class="col-xs-6 col-md-3">
        {% include img-thumbnail.html path="/img/projects/dealer-hero/wii2.png" %}
    </div>
    <div class="col-xs-6 col-md-3">
        {% include img-thumbnail.html path="/img/projects/dealer-hero/wii3.png" %}
    </div>
    <div class="col-xs-6 col-md-3">
        {% include img-thumbnail.html path="/img/projects/dealer-hero/wii4.png" %}
    </div>
</div>
<p>
</p>
<h3>
    Code Samples
</h3>
<p>
    Download code examples: Coming soon!
</p>
<p>
</p>
<h3>
    Video
</h3>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://www.youtube.com/embed/jINFtEgNxRQ" allow="autoplay; encrypted-media" allowfullscreen width="960" height="720" frameborder="0"></iframe>
</div>
